<form action="/memos/new" method="POST">
  <div>
    <input type="text" name="memo_title" value="" required>
  </div>
  <div>
    <textarea name="memo_content" rows="5" required></textarea >
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
